body {
    margin:0;
    padding:0;
    background:#eee;
    color:#26292e;
    font-family: 'Fira Sans', sans-serif;
}

/* header styling*/
header, nav{
    width:100vw;
    margin:0;
    padding:0;
    color:#26292e;
}
header nav ul{
width:100vw;
margin:0;
padding:0;
background:#eee;
top:0;
position:fixed;
z-index:9999;
}
header nav ul li{
    display:inline-block ;
    margin-top:10px;
    padding:14px;
    color:#26292e;
    cursor:pointer;
}
header nav ul li a{
color:#26292e;
text-decoration:none;
}

header nav ul li .fa{
   display: none;
}

.connect{
    border-radius:25px 0px 25px 0px;
    float:right;
    margin-right:35px;
    background:#fff;
    padding-left:35px;
    padding-right:35px;
}
.dev{
    display:none;
}
.logo{
    font-weight:bold;
    color:#B4161B;
    padding-left:35px;
}
.logo:hover{
    background:none;
}
.menu_bar{
    position:fixed;
    display:none;
    z-index:9999;
}
header .title{
    margin:0;
    position:fixed;
    top:0;
    width:100vw;
    background:#eee;
    padding:35px 0px 20px 80px ;
    z-index: 9999;
}

/* home page styling*/
.homePage{
    width:100vw;
    height:100vh;
    margin-top:55px;
    padding:0;
}
.part1, .part2, .part3{
    display:inline-block;
    height:50vh;
    margin:0;
    padding:0;
}
.part1{
    width:67.5vw;       
    height:500px;
    background:url('images/jsApp.png')no-repeat;
    background-size: 110%;
}
.within_part1{ 
  width:40vw;  
}
.part3{
    width:22.5vw;
    text-align:left;
} 
.part1{
    padding-left:35px;
}
.part2{ /* removed */}

.forAction{
    margin-top:30px;
}
.action{
    border-radius:25px 0px 25px 0px;
    background:#26292e;
    color:#fff;
    padding:14px 50px 14px 50px;
}
.desktopHeading{
    font-size:3.5rem;
}
.mobileHeading{
    display:none;
}
.txt_wrap{
background:transparent;
}
.txt_wrap h3{
    padding-top:px;
    margin-bottom:-5px;
}
.txt_wrap p{
    font-size:10.5px;
    font-weight:bold;
    opacity:0.8;
}
.js{
    text-align:center;
}
.box1{
    padding-left:35px;
    width:40vw;
}
.box2{
    width:27.5vw;
}
.box3{
    width:22.5vw;
    text-align:left;
}
.box1, .box2, .box3{
    display:inline-block 
}
.fa{
    padding:4px;
    font-size:20px;
    cursor: pointer;
}
/* about page styling */
.aboutPage{
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    display:none;
    margin-top:74px;
    margin-bottom:145px;
}
.aboutBGimg, .article{
    width:100vw;
    display:block;
}
figure{
    z-index: -1;
    text-align: center;
}
figcaption a{
    color: #26292e;
    text-decoration: none;
}
.aboutBGimg{
    height:35vh;
    margin-bottom: 0;
    position: relative;
}
.article{
    margin-top: 0;
    background:#fff;
    height:100vh;
    padding-bottom:100px;
}
.article h3{
    padding-top:18px;
}
.article h3, article{
    margin:18px;
}
/* gallery styling*/
.galleryPage{
    width:100vw;
    height:100vh;
    display:none;
    text-align:center;
    margin-top:80px;
    margin-bottom:80px;
}
.galleryPage ul{
    width:100vw;
    margin:0;
    padding:0;
}
.galleryPage ul li{
    display:inline-block;
    padding:14px;
    background:#26292e;
    color:#fff;
    border-radius:5px;
}
#all{
    background:#B4161B;
}
.cards{
    width:100vw;
    margin:0;
    padding:0;
    text-align:center ;
    margin-bottom:0px;
}
.card{
    display:block ;
    height:500px;
    background:#eee;
    color:#26292e;
    border-radius:10px;
    margin:18px 150px 18px 150px;
    box-shadow:1.5px 8px 8px 0.1px #b7b7b7;
}
.card h1{
    font-size:6rem;
    padding-top:120px;
}
/* connect/contact page styling */
.connectPage{
    display:none;
    margin-top:30px;
    height:100vh;
              width:100vw;
               margin:0;
            padding:0;
}
 .connectPage .container{
            text-align:center;
            position:;
              width:100vw;
               margin:0;
            padding:0;
            bottom: 0;
        }
        .container{
            display:block;
             height:vh;
            margin:0;
        }
        .container{
            width:vw;
            transition:width 3s;
          -webkit-transition:width 3s;
        }
            .container form{
                padding-top:70px;
                font-size:px;
            }
            input{
            background:transparent;
            border:none;
            width: 280px;
            padding:20px 0px 0px 4px;
            margin-bottom:0;
        }
        textarea{
            background:transparent;
            border:none;
            width: 280px;
            margin-left: 28px;
            padding-top: 20px;
            margin-bottom:-18px;
        }
        .txtA{
            padding-top: 16px;
            position: absolute;
            z-index: -1;
        }
        .container form hr{
            width:330px;
            border:0.1px solid #26292e;
            margin-top:4px;
        }
        
        .submit{
            background:#26292e;
            padding:14px ;
            width :280px;
            border-radius:25px;
            border:none;
            margin:10px 10px 100px 10px;
            color:#fff;
            font-size: 14px;
            box-shadow:1.5px 8px 8px 0.1px #b7b7b7;
        }
.submit:hover{
    background:#B4161B;
}
        
/* back to top styling */
.backToTop{
    display:none;
    position:fixed;
    bottom:25px;
    right:25px;
    width:35px;
    height:35px;
    padding:5px;
    border-radius:50%;
    background:#26292e;
    text-align: center;
}
.backToTop a{
    text-decoration:none;
    color:#fff;
    font-size:20px;
}
/* footer styling */
.allFooter, .home_bottom, .gallery_bottom{
display:none;
    width:100vw;
    height:150px;
    text-align:center;
    bottom:0;
    position:fixed;
    margin-top:100px;
    background:#B4161B;
    color:#fff;
    background:-webkit-linear-gradient(top, #B4161B, #26292e);
    background:-moz-linear-gradient(top, #B4161B, #26292e);
}
.allFooter a, .home_bottom a, .gallery_bottom a{
    text-decoration:none;
    color:#b7b7b7;
    font-weight:bold;
}
.footer_head{
    padding-top:35px;
}
@media (max-width:420px){
/* header styling*/
    header, nav{
    width:65vw;
    margin:0;
    padding:0;
}
header nav ul{
width:65vw;
height:100vh; 
position:fixed;
margin:0;
padding:0;
background:#26292e;
display:none;
}
header nav ul li{
    display:block;
    padding:14px;
    color:#fff;
}
header nav ul li a{
color:#fff
}
header nav ul li:hover{
  color:#26292e;  
  background:#B4161B;
}
header nav ul li .fa{
    display: inline-block;
   margin:0px 10px 0px 0px;
}
.connect{
    border:none;
    border-radius:0;
    float:none;
    margin-right:0;
    background:none;
    padding:14px;

}
.logo, .logo:hover{
    color:#B4161B;  
    background:transparent;
    padding:14px 14px 14px 16px;
}
.dev{
    display:block;
    position:fixed;
    bottom:30px;
    left:16vw;
    text-align:center;
}
.dev:hover{ 
    background:none;
    color:#fff;
}
.menu_bar{ 
    top:15px;
    display:block;
    margin:10px 0px 0px 20px;
    font-size:30px;
    font-weight:bold;
    border:0.6px solid #26292e;
    padding:0px 8px 0px 8px;
    border-radius:5px;
}
nav:hover ul{
    display:block;
}

/* home page styling*/
.homePage{
    margin:0;
    text-align:center;
}
.part1{
  background:url('images/jsApp.png')no-repeat;
  background-clip: content-box;
  background-position: center top;
  background-size: 170%;
}
.part1, .part3{
display:block;
width:100vw;
height:80vh;
padding-left:0;
}
.within_part1{ 
  width:100vw;  
}
.part2{ /* removed */}

.part3{
    text-align:center;
    height:40vh;
    margin-bottom:150px;
}
.part1 h1{
    margin-top:100px;
}
.heroTxt{
    padding:0px 20px 0px 20px;
}
.desktopHeading{
    display:none;
}
.mobileHeading{
    display:block;
    font-size:3rem;
    padding-left:10px;
    padding-right:10px;
}
.txt_wrap{
height:200px;
width:100vw;
box-shadow:1.5px 8px 8px 0.1px #b7b7b7;
text-align:center;
padding-right:0;
}
.js{
    padding-right:0;
    padding-top:40px;
}
.box1, .box2, .box3{
    display:none;
}

/*about styling*/

/* gallery styling*/
.galleryPage ul{
    margin-top:20px;
}
.card{
    height:300px;
    margin:18px 50px 18px 50px;
}
.card h1{
    font-size:4rem;
    padding-top:40px;
}
.backToTop{
    display:block;
    z-index:9999;
}
/*footer*/
.home_bottom, .gallery_bottom{
    display:block;
    position:relative;
    margin-top:212px;
}
.gallery_bottom{
margin-top:60px;    
}

}
